<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h2 style="text-align: center;">Experience</h2>
    <div class="container mt-4">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header bg-primary text-white">
                Creditwest Bank
              </div>
              <div class="card-body">
                <h5 class="card-title">Software Developer</h5>
                <p class="card-text">In 2021, I started working as a software developer at Creditwest Bank, the leading local bank in Northern Cyprus. Here, I am gaining experience in designing large-scale systems, building their infrastructure, and ensuring uninterrupted service for systems that serve hundreds of people. Please feel free to review my CV for further information.
                </p>
              </div>
            </div>
          </div>
      
          <!-- 101evler Card -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-header bg-success text-white">
                101evler
              </div>
              <div class="card-body">
                <h5 class="card-title">Junior Web Developer</h5>
                <p class="card-text">In 2020, I began working at 101evler, the leading real estate website in Northern Cyprus. Through this experience, I learned about the operations, functionality, culture, and dynamics unique to a startup environment. Please feel free to review my CV for further information.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>
