<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br />
    <h2 style="text-align: center;">Who am i?</h2>
    <div class="row">
    <div class="col-12">
    <div class="container">
    <div class="card">
            <div class="portfolio-image"></div> 
        <div class="card-info">
            <p class="info-text">Since 2021, I have been working as a software developer at Creditwest Bank. I have been actively involved in the industry for {{getIndustryDate()}} years and coding for {{getCodingDate()}} years. As a software developer, my areas of interest are full-stack development and the conveniences brought by new technologies :). If you see me offline, understand that I am either watching something, traveling, or researching something new.</p>
        </div>
    </div>
</div>
</div>
<div class="col-12">
      <div class="btn-container">
        <button class="cv-download-btn">
            <a href="../../docs/browser/media/ahmetsakalli.png" download="AhmetOzturkSakalli.pdf">
                Download My CV
              </a>
        </button>
      </div>   
      
</div>
</div>
    <br/>
</body>
</html>