<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background-color">
        <!-- <h2 style="text-align: center;">Skills</h2> -->
         <br />
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Typescript</td>
                        <td>Frontend Development</td>
                    </tr>
                    <tr>
                        <td>Angular</td>
                        <td>Frontend, SPA Applications</td>
                    </tr>
                    <tr>
                        <td>C# / .net Core</td>
                        <td>Backend, API Development</td>
                    </tr>
                    <tr>
                        <td>React.js</td>
                        <td>Frontend, Interactive UI</td>
                    </tr>
                    <tr>
                        <td>Node.js/Express.js</td>
                        <td>Backend, REST API</td>
                    </tr>
                    <tr>
                        <td>Oracle/PLSQL</td>
                        <td>Database Development</td>
                    </tr>
                    <tr>
                        <td>MSSQL</td>
                        <td>Database Development</td>
                    </tr>
                    <tr>
                        <td>MongoDB/NoSql</td>
                        <td>NoSQL Database Deveelopment</td>
                    </tr>
                </tbody>
            </table>
            <br />
        </div>   
    </div>
</body>
</html>