<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background-color">
      <h2 style="text-align: center;">Education</h2>
        <div class="container-fluid py-5" style="text-align: center;">
            <div class="row">
              <div class="col-lg-12">
                <div class="horizontal-timeline">
                  <ul class="list-inline items">
                    <li class="list-inline-item items-list">
                      <div class="px-4">
                        <div class="event-date badge bg-info">2014</div>
                        <h5 class="pt-2">Eastern Mediterranean University </h5>
                        <p class="text-muted">Information Technology</p>
                        <div>
                            <button style="background-color:#10CAF0"type="button" class="btn button-custom" data-bs-toggle="modal" data-bs-target="#bachelorModal">
                              More Information
                            </button>                      
                        </div>
                      </div>
                    </li>
                    <li class="list-inline-item items-list">
                      <div class="px-4">
                        <div class="event-date badge bg-success">2019</div>
                        <h5 class="pt-2">Eastern Mediterranean University</h5>
                        <p class="text-muted">Mtech - Information Technology
                        </p>
                        <button  style="background-color: #198753;" type="button" class="btn button-custom" data-bs-toggle="modal" data-bs-target="#masterModal">
                            More Information
                          </button>  
                      </div>
                    </li>
                    <li class="list-inline-item items-list">
                      <div class="px-4">
                        <div class="event-date badge bg-danger">2022</div>
                        <h5 class="pt-2">Cyprus Science University</h5>
                        <p class="text-muted">PhD - Business Administration</p>
                        <button style="background-color: #DC3444;"  type="button" class="btn button-custom" data-bs-toggle="modal" data-bs-target="#phdModal">
                          More Information
                        </button> 
                      </div>
                    </li>
                  </ul>
          
                </div>
          
              </div>
            </div>
          
          </div>
    </div>

    <div class="modal fade" id="bachelorModal" tabindex="-1" aria-labelledby="bachelorModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Information</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              I graduated from the Information Technology bachelor's program in 2019. During my studies, I built foundational knowledge in C, C++, C#, Java, and JavaScript through the curriculum. For my final project, I developed a mobile application in Android Studio aimed at children. In this educational app, we created games designed to help children under the age of four prepare for preschool. My role in the project focused on database design and coding.
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="masterModal" tabindex="-1" aria-labelledby="masterModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Information</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              I started a master’s program after completing my undergraduate education to enter professional life in a more structured and specialized way. During this program, I focused on JavaScript and completed a project using the MERN stack. For this project, titled "Community-Based Responsive Web Design for Used-Item Marketplace," I created a prototype and developed my own GitHub project.
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="phdModal" tabindex="-1" aria-labelledby="phdModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Information</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              A year and a half after completing my master’s degree and after six months in the industry, I decided to begin a PhD program to develop myself and acquire skills beyond coding. I am now in my second year and am preparing a finance dissertation, with plans to focus on cryptocurrency. My goal is to combine the finance knowledge I gain with my coding skills at the end of this journey.
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>