h2 {
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.background-color {
    background-color: #f0f8ff;
    width:100%;
}

.horizontal-timeline .items {
    border-top: 3px solid #e9ecef;
  }
  
  .horizontal-timeline .items .items-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
  }
  
  .horizontal-timeline .items .items-list:before {
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
  }
  
  .horizontal-timeline .items .items-list .event-date {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    font-size: 0.9rem;
    padding-top: 8px;
  }

  .education-line {
    width: 50%; 
    margin: 0 auto; 
  }

  .button-custom {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-custom:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

.button-custom:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
}

@media (min-width: 1140px) {
  .horizontal-timeline .items .items-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }

  .horizontal-timeline .items .items-list .event-date {
    top: -40px;
  }
}
