<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<body>

    <!-- Footer Section -->
    <footer class="background-color">
        <div class="footer-content">
            <h3>Ahmet Ozturk Sakalli</h3>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/ahmet-sakalli-0421a7167/" target="_blank" class="social-icon">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://instagram.com/ahmetsakalli1/" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="mailto:ahmetsakalli985@gmail.com" target="_blank" class="social-icon">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="mailto:ahmetsakalli985@gmail.com" target="_blank" class="social-icon">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <p class="footer-bottom-text">&copy; 2024 Ahmet Ozturk Sakalli. All rights reserved.</p>
    </footer>

</body>
</html>
