<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background-color">
      <h2 style="text-align: center;">Projects</h2>
      <div class="container py-5">
        <div class="row gy-4">
            <!-- First Project -->
            <div class="col-md-6">
                <div class="first-project"></div>
                <p>
                    In this project, React.js and Node.js were used. Since it was a collaborative project, 
                    I worked on the NodeJS and MongoDB side. I built the REST API infrastructure with NodeJS, 
                    provided services to the front-end, and set up jobs in NodeJS to manipulate the database.
                </p>
            </div>
            
            <!-- Second Project -->
            <div class="col-md-6">
                <div class="second-project"></div>
                <p>
                    This project is my personal website. It was created to make information about me more easily 
                    accessible in one place. The project utilizes Angular 18, Bootstrap 5, Figma, Netlify and Docker.
                </p>
            </div>
        </div>
    </div>
    </div>

      
      
</body>
</html>